<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RefundMapper">
    <select id="selectRefundPage" resultType="com.example.demo.entity.Refund">
        select * from refund
        <where>
            <if test="keyword !=null and keyword !='' ">
                or commid like CONCAT('%',#{keyword},'%')
                or rfmoney like CONCAT('%',#{keyword},'%')
                or rfnumber like CONCAT('%',#{keyword},'%')
                or remark like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>

</mapper>
